{% extends 'base.html'%}

{% block content %}
{% load static %}
<div class="jumbotron">
	<h1>About us</h1>
  <div class="row">
  	<div class="col-lg-6">
  		<img src="{% static 'image/shop2.jpg'  %}" width="700px" height="400px">
  		
  	</div>
  	<div class="col-lg-6">
  		<h3>‘Star Bakery’ , the name itself, shows that we plan the cakes that precisely suit your decision whatever event it’s. We are at your administration for a few years, however concoct a wide scope of cakes and pastries.Owner Name puts stock in development and endeavors to present something new and something other than what’s expected to meet all client prerequisites. Our crisp, inventive and enticing cakes draw in individuals. ‘Star Bakery’ gets ready extreme cakes with an icing of feelings and love over them. We have an assortment of cake plans and attempt to concoct new thoughts unfailingly</h3>
  		
  	</div>
  </div>
</div>
<div class="jumbotron">
  <div class="row">
  	<div class="col-lg-6">
  		<h3>We guarantee you with respect to the structure of cakes loaded with cream, which is sufficient to make you hungry. ‘Star Bakery’ duplicates your energy. In this way, it’s difficult to trust that a couple of more minutes will cut a cake. When we convey your request we give a cake, as well as we convey joy, rapture, and feelings related with it. Everybody needs to be upbeat and we feel that it is our pleasure to fulfill everybody rather we would state it is our side interest or custom. </h3>
  		
  	</div>
  	<div class="col-lg-6">
  	
  		<img src="{% static 'image/shop3.jpg'  %}" width="700px" height="400px">
  		
  	</div>
  </div>
</div>
<div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | STAR BAKERY <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">INDIA</a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
          </div>
        </div>


{% endblock %}